server:
  port: 8085

spring:
  data:
    mongodb:
      uri: mongodb://localhost:27017
      database: bank

application:
  name: service-staff

management:
  endpoints:
    web:
      exposure:
        include: *